/* 
    Document   : config
    Created on : 08/01/2014, 11:02:37
    Author     : Mauricio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
margin:0px;
}

ul {
    list-style: none;
    background-color:#E6E6FA;
    padding-top:7px;
    padding-bottom:7px;
    text-align:center;
}

ul li {
padding-left:30px;
display:inline;
}

a {
    text-decoration:none;
    font-family:verdana;
    font-size:14pt;
    color:#000000;
}
a:hover {
    text-decoration:underline;
    color:#0000ff;
}

